{% extends "base_template.html" %}

{% block title %}
Contact
{% endblock title%}

{% block active-navbar %} 
<li><a href="index">Home</a></li>
<li><a href="about">About</a></li>
<li class="active"><a href="contact">Contact</a></li>
<li><a href="project-list">Project List</a></li>
{% endblock active-navbar %}

{% block content %}

{% block section_title %}<h1> Contact Us </h1>{% endblock section_title %}

<div class="container">

<pre>
Main reception
Wellcome Trust Sanger Institute,
Wellcome Trust Genome Campus,
Hinxton,
Cambridge.
CB10 1SA
UK
 
Tel: +44 (0)1223 834244
Fax: +44 (0)1223 494919
</pre>

{% endblock content %}
