<div class="modal-body" id="tmp-sample-submission-modal-body" name="3">
	<h3> Affiliated Institute </h3>

	<form class="add_a_temp_ss" method="post" id="tmp-affiliated-institute-form" tssid="{{tssid}}" ssid="{{ssid}}" action="edit-tss-page-3/{{ssid}}/{{tssid}}">
		{% csrf_token %}
		<table>
			{{ tssaiform }}
		<!-- <a href="#" class="save-tmp-ai-button pull-right" id="save-tmp-ai-button-{{tssid}}" type="button" value="{{tssid}}">Save</a> -->
		</table>
	</form>
	
	<div id="alert-signs">
		{{ alert_msg|safe }}
	</div>
</div>