{% extends "base_template.html" %} 
{% load replace %}
{% load get_phenotype_type %}
{% load get_contact_list %}
{% load get_affiliated_institute_list %}
{% load create_formset_list %}
{% load create_aiform %}

{% block title %}Project List{% endblock title %}


{% block extra_css_js %}

<link href="{{ STATIC_URL_PREFIX }}bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL_PREFIX }}bootstrap-modal/js/bootstrap-modalmanager.js" rel="text/javascript" media="screen">
<link href="{{ STATIC_URL_PREFIX }}bootstrap-modal/js/bootstrap-modal.js" rel="text/javascript" media="screen">
<!--<link rel="stylesheet" href="{{ STATIC_URL_PREFIX }}django_tables2/themes/paleblue/css/screen.css" />-->

<script src="{{ STATIC_URL_PREFIX }}jquery.watermark-3.1.4/jquery.watermark.js" rel="text/javascript" media="screen"></script>
<!--https://code.google.com/p/jquery-watermark/-->
<!-- <script src="{{ STATIC_URL_PREFIX }}twitter-bootstrap-typeahead/js/bootstrap-typeahead.js" rel="text/javascript" media="screen"></script> -->
<!-- https://github.com/tcrosen/twitter-bootstrap-typeahead -->

<!-- JQUERY AUTOCOMPLETE PLUGIN -->
<meta charset="utf-8" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<style>
#phenocompo{
					max-height: 320px; 
					height: 100%;
					border: solid;
}

#phenolist-popover{
					max-width: 900px;
					width: auto;
					max-height: 500px;
					height: auto;
					border: solid;
					overflow-y: auto;
}

#phenotypeformtable{
					max-width: 500px;
					/*width: %;*/
					padding: 300px;
}
#edit-sample-submission-modal{
	width:80%;
	margin-left: -40%;
}
</style>

<script type="text/javascript">
function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            	break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

//Adding attribute and value to the Next Button in Modal
function addAttributeToModalButton(attribute, value){
	$("#next-tss-button").attr(attribute, value);
	return false;
}

//Save Temporary Affiliated Institute
function saveTempAI(tssid){
	// To Add Affiliated Institute
	console.log("in save temp ai");
	$('.save-tmp-ai-button').click( function(data){
		console.log(data);
		console.log(this);
		$("#tmp-affiliated-institute-form-"+tssid).ajaxSubmit({
						url: '/order/tss-page-3/'+tssid,
						type: "POST",
						resetForm: true,
						headers: {"X-CSRFToken" : csrftoken},
						success : function(data) {
							console.log('this is data:' + data);
							$('#tmp-sample-submission-modal-body').replaceWith(data);
						},
						error: function(data) {
							alert("FAILED!");
						}
		});

	});
}

//Clicking a back button gets you back to the previous page
function backButton(data){
	var $this = $(data);
	console.log($this);
	console.log($this.parent().siblings()[1].getAttribute("name"));

	switch ($this.parent().siblings()[1].getAttribute("name")){
		case "1":
			console.log("in ss - goes back to nowhere");
			break;
		case "2":
			console.log("in pheno - need to go back to ss");
			var projid = $this.attr("project-id");
			var tssid = $(".add_a_temp_ss").attr("tssid");
			console.log(projid);
			$.get('tss-page-1/'+projid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				$("#back-tss-button").attr("style", "display: none");
			})
			break;
		case "3":
			console.log("in ai - goes back to pheno");
			var tssid = $(".add_a_temp_ss").attr("tssid");
			console.log("tssid "+ tssid);
			$.get('tss-page-2/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				var phenotypeTags2 = {{ phenolist|get_all_phenotypes|safe }};

				$("#id_tmp_phenotype_name").autocomplete({
					source: phenotypeTags2,
					open: function(){
						$(this).autocomplete('widget').css('z-index', 99999999999);
						return false;
					}
				});
			});
			break;
		case "4":
			console.log("in personnel - goes back to ai");
			var tssid = $(".add_a_temp_ss").attr("tssid");
			$.get('tss-page-3/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				//Affiliated Institute
				var affiliatedInstituteTags = {{ affiliatedinstitutelist|get_all_affiliated_institute|safe }};

				$("#id_tmp_ai_name").autocomplete({
					source: affiliatedInstituteTags,
					open: function(){
						$(this).autocomplete('widget').css('z-index', 9999999999);
						return false;
					}
				});
			});
			break;
		case "5":
			console.log("in summary - goes back to ai");
			var tssid = $("#summary-table").attr("value");
			$.get('tss-page-4/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				$("#final-submission-tss-button").attr("style", "display: none");
				$('#next-tss-button').removeAttr("style");
			});
			break;
		default:
	}
}

//Clicking on a next button
function nextButton(data){
	//To Add Temporary Sample Submission - First time from clicking the [+]Add Sample Submission
	// $('#next-tss-button').click( function(data){
	if ($(data).attr('frombutton') == 'add-ss-button'){
		console.log("inside add-tss-button");

		var page = $(data).parent().siblings()[1].getAttribute("name");
		console.log('before page'+page);
		if (page == 2){
			var tssid = $('#add_a_temp_phenotype_form').attr("tssid");
			console.log('tssid'+tssid);
			$.get('tss-page-3/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				//Affiliated Institute
				var affiliatedInstituteTags = {{ affiliatedinstitutelist|get_all_affiliated_institute|safe }};

				$("#id_tmp_ai_name").autocomplete({
					source: affiliatedInstituteTags,
					open: function(){
						$(this).autocomplete('widget').css('z-index', 9999999999);
						return false;
					}
				});
			});

		}
		else if (page == 4){
			console.log("inside page 4!");
			var tssid = $('#add_a_temp_contact_form').attr("tssid");
			console.log('tssid'+tssid);
			var ssid = $('#add_a_temp_contact_form').attr("ssid");
			console.log('ssid'+ssid);
			$.get('tss-page-5/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				if ($(".alert-error").length == 0){
					$('#next-tss-button').attr("style", "display: none");
					$('#final-submission-tss-button').removeAttr("style");
				}
			});
		}
		else{
				$(".add_a_temp_ss").ajaxSubmit({
												// url: '/order/add_tmp_ss/'+projid,
												// url: '/order/handle_tss_pages/'+currpage,
												type: "POST",
												resetForm : true,
												headers : {"X-CSRFToken" : csrftoken},
												success : function(data) {
																			console.log("success" + data);
																			$("#tmp-sample-submission-modal-body").replaceWith(data);
																			// $("#dynamic-modal-section").replaceWith(data);

																			// $('#next-tss-button').removeAttr('disabled');
																			// $('input[name=tmp_sample_submission_name]').attr('disabled', 'disabled');
																			// $('input[name=tmp_sample_num]').attr('disabled', 'disabled');
																			// addAttributeToModalButton('target', tss_pages[0]);
																			
																			console.log($(data).filter("#tmp-sample-submission-modal-body").attr("name"));
																			var page = $(data).filter("#tmp-sample-submission-modal-body").attr("name");

																			if (page != 1){
																				$('#back-tss-button').removeAttr("style");
																			}
																			var phenotypeTags2 = {{ phenolist|get_all_phenotypes|safe }};

																			$("#id_tmp_phenotype_name").autocomplete({
																				source: phenotypeTags2,
																				open: function(){
																					$(this).autocomplete('widget').css('z-index', 99999999999);
																					return false;
																				}
																			});
												},
												error : function(data) {
																			$("#tmp-sample-submission-modal-body").replaceWith(data);
																			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
												}
				});
		}
	}
	else if ($(data).attr('frombutton') == 'edit-ss-button'){
		console.log("inside edit-tss-button");

		var page = $(data).parent().siblings()[1].getAttribute("name");
		console.log('before page'+page);
		if (page == 2){
			var tssid = $('#add_a_temp_phenotype_form').attr("tssid");
			console.log('tssid'+tssid);
			var ssid = $('#add_a_temp_phenotype_form').attr("ssid");
			console.log('ssid'+ssid);
			$.get('edit-tss-page-3/'+ssid+'/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
			});
		}
		else if (page == 4){
			console.log("inside page 4!");
			var tssid = $('#add_a_temp_contact_form').attr("tssid");
			console.log('tssid'+tssid);
			var ssid = $('#add_a_temp_contact_form').attr("ssid");
			console.log('ssid'+ssid);
			$.get('edit-tss-page-5/'+ssid+'/'+tssid, function(data){
				$("#tmp-sample-submission-modal-body").replaceWith(data);
				if ($(".alert-error").length == 0){
					$('#next-tss-button').attr("style", "display: none");
					$('#final-submission-tss-button').removeAttr("style");
				}
			});
		}
		else{
				$(".add_a_temp_ss").ajaxSubmit({
												// url: '/order/add_tmp_ss/'+projid,
												// url: '/order/handle_tss_pages/'+currpage,
												type: "POST",
												resetForm : true,
												headers : {"X-CSRFToken" : csrftoken},
												success : function(data) {
																			console.log("success" + data);
																			$("#tmp-sample-submission-modal-body").replaceWith(data);
																			// $("#dynamic-modal-section").replaceWith(data);

																			// $('#next-tss-button').removeAttr('disabled');
																			// $('input[name=tmp_sample_submission_name]').attr('disabled', 'disabled');
																			// $('input[name=tmp_sample_num]').attr('disabled', 'disabled');
																			// addAttributeToModalButton('target', tss_pages[0]);
																			
																			console.log($(data).filter("#tmp-sample-submission-modal-body").attr("name"));
																			var page = $(data).filter("#tmp-sample-submission-modal-body").attr("name");

																			if (page != 1){
																				$('#back-tss-button').removeAttr("style");
																			}
												},
												error : function(data) {
																			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
												}
				});
		}
	}

		// //Save the Tssform
		// console.log(data);
		// // var $this = $(data);
		// // console.log($this);
		// var projid = $(data).attr("project-id");
		// console.log('projid'+projid);

		// console.log($(data).parent().siblings()[1]);
		// console.log($(data).parent().siblings()[1].getAttribute("name"));
		// var page = $(data).parent().siblings()[1].getAttribute("name");
		// console.log('page'+page);
	// });
}


//Final Submit Button
function finalSubmitButton(data){
	alert("FINAL SUBMIT BUTTON!");
	var tssid = $('#summary-table').attr("value");
	alert(tssid);
	$.get('tss-page-5/'+tssid+'/FINAL_SUBMIT', function(data){
			console.log(data);
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
			// $("#tmp-sample-submission-modal-body").replaceWith(data);
			$('#add-sample-submission-modal').modal('hide');
		});

}

function openEditSSPhenotype(ssid, tssid, data){
	$.get('edit-tss-page-2/'+ssid+'/'+tssid, function(data){
		$("#edit-sample-submission-modal-body").replaceWith(data);

		var phenotypeTags = {{ phenolist|get_all_phenotypes|safe }};

		$("#id_tmp_phenotype_name").autocomplete({
			source: phenotypeTags,
			open: function(){
				$(this).autocomplete('widget').css('z-index', 99999999999);
				return false;
			}
		});
	});
}

// Add Temporary Phenotype - from EDIT
function addEditTempPhenotype(ssid, tssid){
	console.log("in addedittempphenotype");
	console.log("TSSID: " + tssid);
	console.log("SSID: " + ssid);

	$("#edit_temp_phenotype_form").ajaxSubmit({
		url: '/order/edit-tss-page-2/'+ssid+"/"+tssid,
		type: "POST",
		resetForm : true,
		headers : {"X-CSRFToken" : csrftoken},
		success : function(data) {
			console.log("successfully add phenotype");
			console.log("this is addphenotype" + data);

			$('#edit-sample-submission-modal-body').replaceWith(data);
			
			// $('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> You have successfully added a Phenotype!</div>");

		},
		error : function(data) {
			console.log("failed to add phenotype");
			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
		}
	});
	return false;
}

// Add Temporary Contact - from EDIT
function addEditTempContact(ssid,tssid){
	$("#edit_temp_contact_form").ajaxSubmit({
		url : '/order/edit-tss-page-4/'+ssid+'/'+tssid,
		type : "POST",
		resetForm : true,
		headers : {"X-CSRFToken" : csrftoken},
		success : function(data) {
			$('#edit-sample-submission-modal-body').replaceWith(data);
		},
		error : function(data) {
			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
		}
	});
	return false;
}

function openEditSSContact(ssid, tssid, data){
	$.get('edit-tss-page-4/'+ssid+'/'+tssid, function(data) {
		$("#edit-sample-submission-modal-body").replaceWith(data);
	});
}

function openEditSSNameNum(ssid, projid, data){
	var tssid = $(data).attr('tss');
	$.get('edit-tss-page-1/'+ssid+'/'+projid+'/'+tssid, function(data) {
		$("#edit-sample-submission-modal-body").replaceWith(data);
	});
}

function openEditSSAI(ssid, tssid, data){
	$.get('edit-tss-page-3/'+ssid+'/'+tssid, function(data){
		$("#edit-sample-submission-modal-body").replaceWith(data);

		//Affiliated Institute
		var affiliatedInstituteTags = {{ affiliatedinstitutelist|get_all_affiliated_institute|safe }};

		$("#id_tmp_ai_name").autocomplete({
			source: affiliatedInstituteTags,
			open: function(){
				$(this).autocomplete('widget').css('z-index', 9999999999);
				return false;
			}
		});
	});
}

function saveEditButton(data){
	alert("in save edit ssname");

	if ($('.edit_temp_ss_pheno').length){
		var tssid = $('.edit_temp_ss_pheno').attr('tssid');
		var ssid = $('.edit_temp_ss_pheno').attr('ssid');
		$.get('edit-ss-fmpage/'+ssid+'/'+tssid, function(data){
			$("#edit-sample-submission-modal-body").replaceWith(data);
		});
	}
	else if ($('.edit_temp_ss_contact').length){
		var tssid = $('.edit_temp_ss_contact').attr('tssid');
		var ssid = $('.edit_temp_ss_contact').attr('ssid');
		$.get('edit-ss-fmpage/'+ssid+'/'+tssid, function(data){
			$("#edit-sample-submission-modal-body").replaceWith(data);
		});
	}
	else if ($('.edit_temp_ss_fmpage').length){
		alert("in edit temp ss fmpage");
		console.log($('.edit_temp_ss_fmpage').length);

		$('.edit_temp_ss_fmpage').ajaxSubmit({
												type: "POST",
												resetForm : true,
												headers : {"X-CSRFToken" : csrftoken},
												success : function (data) {
													alert("success!");
													console.log(data);
													var newDoc = document.open("text/html", "replace");
													newDoc.write(data);
													newDoc.close();
													$('#edit-sample-submission-modal').modal('hide');
												},
												error: function(data) {
													alert("fail!");
													console.log(data);
												}
		});
	}
	else{
		$('.edit_temp_ss').ajaxSubmit({
											// url: '/order/edit-ss-fmpage/'+ssid,
											type: "POST",
											resetForm : true,
											headers : {"X-CSRFToken" : csrftoken},
											success : function (data) {
												alert("success!");
												console.log(data);
												$("#edit-sample-submission-modal-body").replaceWith(data);
											},
											error: function(data) {
												alert("fail!");
												console.log(data);
											}
		});
	}
}


$(document).ready(function() {
	$(".collapse").collapse();

	//clicking on Send Request button
	$('.send-request-button').click( function(data){
		data.preventDefault();
		var ssid = $(this).attr("value");
		$.get('collab-page/set-request-sent/'+ssid, function(data){
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
		})
		.fail(function(){
			$("#request-sent-tag-"+ssid).html("<span id=\"warning-tag-"+ssid+" class=\"label label-warning\"><i class=\"icon-repeat\"></i> Please Try Again.</span>");
		});
	});

	//clicking on the [+] Sample Submission 
	$('.add-ss-button').click( function(data){
		data.preventDefault();
		var projid = $(this).attr("project-id");
		console.log(projid);
		$.get('tss-page-1/'+projid, function(data){
			$("#tmp-sample-submission-modal-body").replaceWith(data);
			console.log("add ss button"+data);
		});
		$('#back-tss-button').attr('style', 'display: none');
		addAttributeToModalButton('project-id', projid);
		$('#back-tss-button').attr('project-id', projid);
		$('#next-tss-button').removeAttr('style');
		$('#final-submission-tss-button').attr('style', 'display: none');
		$('#next-tss-button').attr('frombutton','add-ss-button');
	});

	//Edit ss button
	//DEPRECATED
	// $('.edit-ss-button').click( function(data){
	// 	console.log("in edit-ss-button");
	// 	data.preventDefault();
	// 	var ssid = $(this).attr("ssid");
	// 	var projid = $(this).attr("project-id");
	// 	console.log('ssid'+ssid);
	// 	console.log('projid'+projid);
	// 	$.get('edit-tss-page-1/'+ssid+"/"+projid, function(data){
	// 		$("#tmp-sample-submission-modal-body").replaceWith(data);
	// 	});
	// 	$('#back-tss-button').attr('style', 'display: none');
	// 	addAttributeToModalButton('project-id', projid);
	// 	$('#back-tss-button').attr('project-id', projid);
	// 	$('#next-tss-button').removeAttr('style');
	// 	$('#final-submission-tss-button').attr('style', 'display: none');
	// 	$('#next-tss-button').attr('frombutton','edit-ss-button');
	// });
	
	//Edit ss button
	$('.edit-ss-button').click( function(data){
		console.log("in edit-ss-button");
		data.preventDefault();
		var ssid = $(this).attr("ssid");
		console.log("ssid"+ssid);
		var projid = $(this).attr("project-id");
		$.get('edit-ss-fmpage/'+ssid, function(data){
			console.log(data);
			$("#edit-sample-submission-modal-body").replaceWith(data);
		});
	});

	// To Add Projects
	$('#add-a-project-button').click( function(data){
		console.log(this);
		console.log(data);
		$("#add_a_project_form").ajaxSubmit({
												url: '/order/api/handle_project_fmpage/ADD/',
												type: "POST",
												resetForm : true,
												headers : {"X-CSRFToken" : csrftoken},
												success : function(data) {
																			console.log('test' + data);
																			$('#project-section').replaceWith(data);
																			$('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> You have successfully added a project!</div>");
																			$(".collapse").collapse();
												},
												error : function(data) {
																			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
												}
		});
	});

	// To Add Affiliated Institute
	$('.save-ai-button').click( function(data){
		console.log(data);
		console.log(this);
		var projid = $(this).attr("value");
		$("#affiliated-institute-form-"+projid).ajaxSubmit({
						url: '/order/api/handle_ai_fmpage/ADD/',
						type: "POST",
						resetForm: true,
						headers: {"X-CSRFToken" : csrftoken},
						success : function(data) {
							console.log('this is data:' + data);
							$('#affiliated-institute-form-'+projid).replaceWith(data);
						},
						error: function(data) {
							alert("FAILED!");
						}
		});

	});

	//To Add Contactlist 
	$('.save-contact-button').click( function(data){
		console.log(data);
		console.log(this);
		var projid = $(this).attr("value");

		//loop through the list of emails, pass it via url. without submitting any forms.
		$.

		$("#contact-list-form-"+projid).ajaxSubmit({
						url: '/order/api/handle_contact_fmpage/ADD/',
						type: "POST",
						resetForm: true,
						headers: {"X-CSRFToken" : csrftoken},
						success : function(data) {
							alert("SUCCESS");
						},
						error: function(data) {
							alert("FAILED!")
						}
		});
	});

	// To add a callback function to popover
	var pt = $.fn.popover.Constructor.prototype.show;
	$.fn.popover.Constructor.prototype.show = function() {
		pt.call(this);
		if (this.options.callback){
			this.options.callback();
		}
	}

	// Attach popover with each "See More" link
	$("table[name='phenotype-table']").each(function(){
		console.log($(this).attr("value"));

		var ssid = $(this).attr("value");
		var sample_submission_name = $(this).attr("ss-name");
		$("#trigger-phenolist-popover"+ssid).popover({ 
															html: true,
															trigger: 'click',
															placement:'right',
															content: function (ele) { 
																return '<div id="phenotype-table-container{{ss.pk}}">'+$("#phenotype-table-container"+ssid).html()+'</div>'; 
															},
															title: "Sample Submission " + sample_submission_name + ' / Phenotype List',
															template: '<div class="popover" id="phenolist-popover"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div><div class="modal-footer" id="popover-footer"></div></div>',
															callback: function() {
																console.log("this is ssid " + ssid);

																$.ajax({
																	url: '/order/render_phenoform/'+ssid,
																}).done( function(data){
																	console.log("in ajax done"+ data);
																	$("#popover-footer").replaceWith('<div class="modal-footer" id="popover-footer">'+data+'</div>');

																	var phenotypeTags1 = {{ phenolist|get_all_phenotypes|safe }};

																	$("#id_phenotype_name").autocomplete({
																		source: phenotypeTags1,
																		open: function(){
																			$(this).autocomplete('widget').css('z-index', 99999999999);
																			return false;
																		}
																	});

																});

																$('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> Ajax didn't fail!</div>");

																

															}
		});
	});

	// Attach popover with each "[+] Add Phenotypes" link
	$("table[name='empty-phenotype-table']").each(function(){
		console.log("inside empty phenotype table");
		console.log($(this).attr("value"));

		var projid = $(this).attr("value");

		$("#trigger-empty-phenolist-popover"+projid).popover({
																html: true,
																trigger: 'click',
																placement: 'right',
																content: function (ele) {
																	return '<div id="phenotype-table-container{{proj.pk}}">'+$("#empty-phenotype-table-container"+projid).html()+'</div>'; 
																},
																title: "New Sample Submission / Phenotype List",
																template: '<div class="popover" id="phenolist-popover"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div><div class="modal-footer" id="popover-footer"></div></div>',
																callback: function() {
																	console.log("this is ssid " + ssid);

																	$.ajax({
																		url: '/order/render_phenoform/'+ssid,
																	}).done( function(data){
																		console.log("in ajax done"+ data);
																		$("#popover-footer").replaceWith('<div class="modal-footer" id="popover-footer">'+data+'</div>');
																	});

																	$('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> Ajax didn't fail!</div>");
																}

		});

	});

	
	//Clicking outside popover to close popover; only one popover is open at a time
	$(':not(#example)').on('click', function (e) {
		$('.trigger-phenolist-popover').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	        	$(this).popover('hide');
	        	
	        	return;
	        }
    	});

    	$('.trigger-empty-phenolist-popover').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	        	$(this).popover('hide');
	        	return;
	        }
    	});
	});

	//Changing Modal size dynamically
	$('#phenotypelist').on('show', function(){
		console.log("width" + window.innerWidth + "height " + window.innerHeight +"margin-left" + -(window.innerWidth/2));
		// $('#phenotypelist').css({ 
		// 							width : window.innerWidth+'px', 
		// 							height : window.innerHeight+'px', 
		// 							'margin-left': -(window.innerWidth/2), 
		// 							'max-height': window.innerHeight+'px', 
		// 							'max-width': window.innerWidth+'px',

		// 			});

		$('#phenotypelist').css({ 
										// width : '1200px', 
										width : '100%',
										height : '100%', 
										'margin-left' : -(window.innerWidth/2)+60,
										// 'margin-left' : '-600px',
										'margin-top' : -window.innerHeight*0.08+'px',
										'max-width' : window.innerWidth-120+'px',
										// 'max-width' : '1500px',
										'max-height' : window.innerHeight-60+'px',
										// 'max-height': '600px',
										'border' : 'solid',
		});
	});

	//Changing the phenotype section size
	$('.phenotype-section').css({
									'max-height': '350px', 
									height: '100%',
									'border': 'solid',
	});

});

// Add Temporary Contact - from ADD
function addTempContact(tssid){

	$("#add_a_temp_contact_form").ajaxSubmit({
		url : '/order/tss-page-4/'+tssid,
		type : "POST",
		resetForm : true,
		headers : {"X-CSRFToken" : csrftoken},
		success : function(data) {
			$('#tmp-sample-submission-modal-body').replaceWith(data);
		},
		error : function(data) {
			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
		}
	});
	return false;
}

// Add Temporary Phenotype - from ADD
// To Add a Phenotype
function addTempPhenotype(tssid){
	console.log("in addtempphenotype");
	console.log("ID: " + tssid);

	$("#add_a_temp_phenotype_form").ajaxSubmit({
		url: '/order/tss-page-2/'+tssid,
		type: "POST",
		resetForm : true,
		headers : {"X-CSRFToken" : csrftoken},
		success : function(data) {
			console.log("successfully add phenotype");
			console.log("this is addphenotype" + data);

			$('#tmp-sample-submission-modal-body').replaceWith(data);
			
			// $('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> You have successfully added a Phenotype!</div>");

		},
		error : function(data) {
			console.log("failed to add phenotype");
			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
		}
	});
	return false;
}

// To Add a Phenotype
function addPhenotype(ssid){
	console.log("in addphenotype");
	console.log("ID: " + ssid);

	$("#add_a_phenotype_form_"+ssid).ajaxSubmit({
		url: '/order/api/handle_phenotype_fmpage/ADD/'+ssid,
		type: "POST",
		resetForm : true,
		headers : {"X-CSRFToken" : csrftoken},
		success : function(data) {
			console.log("successfully add phenotype");
			console.log("this is addphenotype" + data);

			$('.popover-content').replaceWith('<div class="popover-content">'+data+'</div>');
			$('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> You have successfully added a Phenotype!</div>");

		},
		error : function(data) {
			console.log("failed to add phenotype");
			$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
		}
	});
	return false;
}

function deletePhenotype(elt) {
	var value = elt.value;

	console.log("in deletePhenotype" + $(elt).attr("name"));
	var name = $(elt).attr("name");

	$.ajax({
		url: '/order/api/handle_phenotype/DELETE/'+value,
		type: "DELETE",
		headers : {"X-CSRFToken" : csrftoken},
	}).done( function(data) {
		console.log(data);
		$('table#phenotype-table').replaceWith(data);
		$('div#alert-signs').html("<div class=\"alert alert-success\"><b>Good Job!</b> You have successfully deleted a phenotype!</div>");
	}).fail( function(){
		$('div#alert-signs').html("<div class=\"alert alert-error\"><b>Uh Oh! </b> Ajax Failed! </div>");
	});

	return false;
}


// function getPhenotypeList(elt){
// 	console.log("getpheno!")
	
// 	var proj_name = $(elt).attr("value");
// 	console.log(proj_name)

// 	$.ajax({
// 		url: '/order/get_phenolist/'+proj_name,
// 		headers : {"X-CSRFToken" : csrftoken},
// 	}).done( function(data){
// 		console.log(data);
// 		// $('table#phenotype-table').replaceWith(data);
// 	}).fail( function(){
// 		alert("failed ajax - in getPhenotypeList");
// 	});
// 	return false;
// }

// function getTop3PhenotypeList(elt){
// 	console.log("in gettop3 phenolist");
// 	var ss = $(elt).attr("value");
// 	console.log(ss);

// 	$.ajax({
// 		url: '/order/get_top3phenolist/'+ss,
// 		headers : {"X-CSRFToken" : csrftoken},
// 	}).done( function(data){
// 		console.log(data);
// 		$('td#top3phenolist').replaceWith(data);
// 	}).fail( function(){
// 		alert("failed ajax - in getTop3Phenotypelist");
// 	});

// 	return false;
// }
</script>

{% endblock extra_css_js %}

{% block extrahead %}
#extract-now, #extract-panel{
padding:5px;
text-align:center;
background-color:#e5eecc;
border:solid 1px #c3c3c3;
}

#extract-panel
{
	padding:50px;
	display:none;
}
{% endblock extrahead %}

{% block active-navbar %} 
<!-- NAVBAR IF WANTED -->
{% endblock active-navbar %}

{% block content %}
<div class="container">

	{% block section_title %}<h1> Welcome {{ username }} ! Status: Faculty Member </h1>{% endblock section_title %}

	<div class="container" id="project-section">
		<!--****************** PROJECT TABLE ***********************-->
		<div id="alert-signs">
			{{ alert_msg|safe }}
		</div>
		<br />
		<h3> Project List </h3>

		<div id="PARENT" class="accordion"></div>
		<table class="table table-striped" id="project-table">
			<tr>
				<th> </th>
				<th> Project Name </th>
				<th> Date Created </th>
				<th> Last Updated </th>
				<th> Sample Submissions Status </th>
			</tr>
			
			{% for proj, sslist in proj_ss_dict.items %}
			<tr class="Project-{{proj.pk}}" name="project-section" value="{{proj.pk}}">
				<td>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#{{proj.project_name|replace}}" data-parent="#PARENT" data-toggle="collapse" class="accordion-toggle">
								<i id="toggle" class="icon-plus"></i>
							</a>
						</div>
					</div>
				</td>
				<td>
					{{ proj.project_name }}
				</td>
				<td>
					{{ proj.date_created }}
				</td>
				<td>
					{{ proj.last_updated }}
				</td>
				{% if sslist|length == 0 %}
				<td>
					<span class="label label-info"><i class="icon-warning-sign"></i> No Sample Submissions</span>
				</td>
				{% else %}
				<td>
					<i class="icon-list-alt"></i> {{ sslist|length }} Sample Submission(s)
				</td>
				{% endif %}
			</tr>
			<tr>
				<td class="more"></td>
				<td colspan="5" class="more">
					<div class="accordion-body in collapse" id="{{ proj.project_name|replace }}">
						<div class="accordion-inner" style="border:none">
							<table class="table table-bordered" style="border:solid 1px">
								<tr>
									<th>Sample Submission</th>
									<th>Phenotype List</th>
									<th> SS's Affiliated Institute </th>
									<th> Collab's Contact Info </th>
									<th> # of Samples </th>
									<th> Date Created </th>
									<th> Last Updated </th>
									<th> Request Sent On </th>
									<th> Send Request </th>
								</tr>
								{% for ss in sslist %}
								<tr>
									<td>{{ ss.sample_submission_name }}
										<br />
										<a href="#" class="edit-ss-button" id="edit-ss-button-{{proj.pk}}" role="button" data-toggle="modal" ssid="{{ss.id}}" project-id="{{proj.pk}}" data-target="#edit-sample-submission-modal">Edit</a>
									</td>
									<td id="top3phenolist">
										<ul>
											{% for ss_select, phenolist in ss_pheno_dict.items %}
											{% if ss_select == ss %}
											<b>{{ss_select}}</b>
											{% for pheno in phenolist|slice:":3" %}
											<li>{{ pheno }}</li>
											{% endfor %}
											<!-- To SEE THE FULL LIST UNCOMMENT THIS -->
												<!-- {% for pheno in phenolist %}
													<li>{{ pheno }}</li>
													{% endfor %} -->
													<!-- UNCOMMENT UP TO HERE -->
													<div style="display:none" id="phenotype-table-container{{ss.pk}}">
														<table class="table table-striped table-bordered table-hover" name="phenotype-table" value="{{ss.pk}}" id ="phenotype-table{{ss.pk}}" ss-name="{{ ss.sample_submission_name }}">
															<tr>
																<th> Phenotype Name </th>
																<th> Phenotype Type </th>
																<th> Phenotype Description </th>
																<th> Phenotype Definition </th>
															</tr>
															{% for p in phenolist %}
															<tr id="{{p.pk}}">
																<td>{{ p.phenotype_name }}</td>
																<td>{{ p.phenotype_type_id|get_phenotype_type_by_id }}</td>
																<td>{{ p.phenotype_description }}</td>
																<td>{{ p.phenotype_definition }}</td>
															</tr>
															{% endfor %}
														</table> 
													</div>

													{% endif %}
													{% endfor %}

													<a href="#" class="trigger-phenolist-popover pull-right" data-toggle="modal" value="{{ss.pk}}" id="trigger-phenolist-popover{{ss.pk}}" rel="popover" data-container="body">>>See More</a>
												</ul>
											</td>
											<td>{{ ss.affiliated_institute }}</td>
											<td>{{ ss_contacts_dict|access:ss.id|safe }}</td>
											<td>{{ ss.sample_num }}</td>
											<td>{{ ss.date_created }}</td>
											<td>{{ ss.last_updated }}</td>
											<td>{{ ss.date_request_sent }}</td>
											<td>
												{% if ss.request_sent %}
													<button class="send-request-button" id="send-request-button-{{ss.pk}}" value="{{ss.pk}}" disabled>Send Request</button>
													<br />
													<span id="success-tag-{{ss.pk}}" class="label label-success"><i class="icon-ok"></i> Successfully sent</span>

												{% else %}
													<button class="send-request-button" id="send-request-button-{{ss.pk}}" value="{{ss.pk}}">Send Request</button>
													<br />
												{% endif %}
												<div id="request-sent-tag-{{ss.pk}}"></div>
											</td>
										</tr>
										
									<!-- {{ samplesubmissionform }} -->

									{% endfor %}


								</table>
								<button id="add-ss-button-{{proj.pk}}" role="button" class="add-ss-button pull-right" data-toggle="modal" project-id="{{proj.pk}}" data-target="#add-sample-submission-modal"> [+] Add Sample Submission </button>

								<br />
								<br />
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<!--**************************** END OF PROJECT TABLE **************************************-->

		<!--****************** ADD A PROJECT FORM ***********************-->
		<!-- Note: This interface for adding a Project is just for development purposes; in reality, I will get a list of projects that is
		associated with the specific user. But I should still be able to associate External Collaborators with the Projects. -->
		<div id="add_a_project_panel"> 
			<h3> Add A Project </h3>

			<form class="add_a_project" method="post" id="add_a_project_form">
				{% csrf_token %}
				<table>
					{{ userprojectform }}
				</table>
				<br />
				<button id="add-a-project-button" class="btn btn-primary pull-right" type="button">Create a Project</button>
			</form>
		</div>
		<br />
		<hr />
		<br />
		<br />

		<!--*********************************** MODAL FOR ADDING SAMPLE SUBMISSION ********************************************-->
		<div id="add-sample-submission-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-sample-submission-label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="add-sample-submission-label">Add Sample Submission</h3>
			</div>
			<div class="modal-body" id="tmp-sample-submission-modal-body">
			</div>
			<div class="modal-footer">
				<button id="back-tss-button" role="button" class="btn pull-left" style="display: none" onclick="backButton(this)">Back</button>
				<button id="next-tss-button" role="button" class="btn" onclick="nextButton(this)" frombutton="">Next</button>
				<button id="final-submission-tss-button" role="button" class="btn btn-primary" onclick="finalSubmitButton(this)" style="display: none">Submit</button>
			</div>
		</div>
		

		<!--***************************************** END OF MODAL ************************************************************-->

		<!--*************************************** MODAL FOR EDITING SAMPLE SUBMISSION **************************************-->
		<div id="edit-sample-submission-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-sample-submission-label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="edit-sample-submission-label">Editing Sample Submission</h3>
			</div>
			<div class="modal-body" id="edit-sample-submission-modal-body">
			</div>
			<div class="modal-footer">
				<button id="save-edit-ss-button" role="button" class="btn pull-right" onclick="saveEditButton(this)">Save</button>
			</div>
		</div>

		<!--******************************************** END OF MODAL ********************************************************-->

	</div>
</div>





{% endblock content %}

<!-- <table class="table table-striped" id="project-table">
			<tr class="GroupA">
				<td>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#DESC" data-parent="#PARENT" data-toggle="collapse" class="accordion-toggle">
								<i id="toggle" class="icon-plus"></i>
							</a>
						</div>
					</div>
				</td>
				<td>
					ProjectNameTest
				</td>
				<td>
					January 3, 2013
				</td>
				<td>
					January 4, 2013
				</td>
			</tr>
			<tr>
				<td class="more"></td>
				<td colspan="3" class="more">
					<div class="accordion-body in collapse" id="DESC">
						<div class="accordion-inner" style="border:none">
							<table class="table table-bordered" style="border:solid 1px">
								<tr>
									<th>Sample Submission</th>
									<th>Phenotype List</th>
									<th> Source </th>
									<th> # of Samples </th>
									<th> Date Created </th>
									<th> Last Updated </th>
								</tr>
								<tr>
									<td>Sample Submission Test</td>
									<td>PhenotypeListTest </td>
									<td> Addenbrokes Hospital </td>
									<td> 110 </td>
									<td> January 4, 2013 </td>
									<td> January 4, 2013 </td>
								</tr>
								<tr>
									<td>Sample Submission Test 2</td>
									<td>PhenotypeListTest 2</td>
									<td> Addenbrokes Hospital </td>
									<td> 3000 </td>
									<td> January 4, 2013 </td>
									<td> January 4, 2013 </td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
			<tr class="GroupB">
				<td width="20">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#DESC1" data-parent="#PARENT" data-toggle="collapse" class="accordion-toggle">
								<i id="toggle" class="icon-plus"></i>
							</a>
						</div>
					</div>
				</td>
				<td>
					ProjectNameTest
				</td>
				<td>
					January 3, 2013
				</td>
				<td>
					January 4, 2013
				</td>
			</tr>
			<tr>
				<td class="more"></td>
				<td colspan="3" class="more">
					<div class="accordion-body in" id="DESC">
						<div class="accordion-inner" style="border:none">
							<table class="table table-bordered" style="border:solid 1px">
								<tr>
									<th>Sample Submission</th>
									<th>Phenotype List</th>
									<th> Source </th>
									<th> # of Samples </th>
									<th> Date Created </th>
									<th> Last Updated </th>
								</tr>
								<tr>
									<td>Sample Submission Test</td>
									<td>PhenotypeListTest </td>
									<td> Addenbrokes Hospital </td>
									<td> 110 </td>
									<td> January 4, 2013 </td>
									<td> January 4, 2013 </td>
								</tr>
								<tr>
									<td>Sample Submission Test 2</td>
									<td>PhenotypeListTest 2</td>
									<td> Addenbrokes Hospital </td>
									<td> 3000 </td>
									<td> January 4, 2013 </td>
									<td> January 4, 2013 </td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table> -->









<!--******************** OLD PHENOTYPE MODAL **************************-->
<!-- <div id="phenotypelist" class="modal hide fade" tabindex="-1" role="dialog" style="width:window.innerWidth+'px'">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 id="modallabel">Phenotype list for Sample Submission "SAMPLE SUBMISSION NAME"</h3>
	</div>
	<div class="modal-body">
		<div class="container" id="phenotype-section">
			<!****************** PHENOTYPE TABLE ***********************-->
			<!-- <h3> All Phenotypes </h3>

			<table class="table table-striped table-bordered table-hover" id ="phenotype-table">
				<tr>
					<th> Phenotype Name </th>
					<th> Phenotype Type </th>
					<th> Phenotype Description </th>
					<th> Phenotype Definition </th>
					<th> Delete? </th>
				</tr>
				{% for p in phenotypelist_all %}
				<tr id="{{p.pk}}">
					<td>{{ p.phenotype_name }}</td>
					<td>{{ p.phenotype_type_id }}</td>
					<td>{{ p.phenotype_description }}</td>
					<td>{{ p.phenotype_definition }}</td>
					<td> 
						<a id="delete-phenotype{{p.pk}}" name="DEL_PHENO" class="btn delete" value="{{p.pk}}" onclick="deletePhenotype(this)"><i class="icon-remove"></i></a>
					</td>
				</tr>
				{% endfor %}
			</table> -->

			<!--****************** ADD A PHENOTYPE FORM ***********************-->
			<!-- <div id="add_a_phenotype_panel"> 
				<h3> Add A Phenotype </h3>
				<b>NOTE: PHENOTYPE DEFINITION CAN USE THE TAG-IT FEATURE http://aehlke.github.io/tag-it/ </b>
				<br />
				<form class="add_a_phenotype" method="post" id="add_a_phenotype_form">
					{% csrf_token %}
					<table>
						{{ phenotypeform }}
					</table>
					<br />
					<button id="add-pheno" class="btn btn-primary" type="submit">Create a Phenotype</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div> -->
<!--- ********************************* END OF PHENOTYPE MODAL *****************************-->


<!--*************************** BIG BOX PHENOTYPE MODAL ******************************-->
<!--<style>
#phenocompo{
					max-height: 320px; 
					height: 100%;
					border: solid;
}
</style>-->

<!--Changing Modal size dynamically
	$('#phenotypelist').on('show', function(){
		console.log("width" + window.innerWidth + "height " + window.innerHeight +"margin-left" + -(window.innerWidth/2));
		// $('#phenotypelist').css({ 
		// 							width : window.innerWidth+'px', 
		// 							height : window.innerHeight+'px', 
		// 							'margin-left': -(window.innerWidth/2), 
		// 							'max-height': window.innerHeight+'px', 
		// 							'max-width': window.innerWidth+'px',

		// 			});
		$('#phenotypelist').css({ 
										// width : '1200px', 
										width : '100%',
										height : '100%', 
										'margin-left' : -(window.innerWidth/2)+60,
										// 'margin-left' : '-600px',
										'margin-top' : -window.innerHeight*0.08+'px',
										'max-width' : window.innerWidth-120+'px',
										// 'max-width' : '1500px',
										'max-height' : window.innerHeight-60+'px',
										// 'max-height': '600px',
										'border' : 'solid',
		});
	});

	//Changing the phenotype section size
	$('.phenotype-section').css({
									'max-height': '350px', 
									height: '100%',
									'border': 'solid',
	});-->


<!-- <div class="container">
	<div id="phenotypelist" class="modal hide fade container-fluid" tabindex="-1" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h4 id-"modallabel">{{ samplesubmission_pheno }} / Phenotype List</h4>
		</div>
		
		<div class="phenotype-section"> --> <!--here is the style-->
<!-- 			<div class="container-fluid">
				<div class="row-fluid" id="phenotype_list_viewer">
					<div class="span4" id="phenocompo">
						<div class="modal-body" id="phenocompo" style="padding:0"> -->
						<!--*************** PHENOTYPE LIST ****************************-->
						<!-- <ul id="current-list" class="nav nav-pills nav-stacked">
						</ul>
					</div>

					</div>
					<div id="viewer" class="span8" id="phenocompo">
						<div class="modal-body" id="phenocompo">
						HKDJFALKSJDFLAKSDFLSFD
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer" style="padding:5px; border: solid red;">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span10">
						<form action="#">
							<div class="well">
								<input type="text" class="span12 typeahead" data-provide="typeahead" />
							</div>
						</form>
					</div>
					<div class="span2">
						<div class="row-fluid">
							<div class="span5">
								<a href="#" class="btn pull-right" data-dismiss="modal">Cancel</a>
							</div>
							<div class="span1"></div>
							<div class="span6">
								<a href="#" class="btn btn-primary pull-right">Save changes</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div> -->

<!--*************************** END OF BIG BOX PHENOTYPE MODAL ************************-->

												<!-- <form id="affiliated-institute-form-{{proj.pk}}">
													<input id="affiliated-institute-input-{{proj.pk}}" type="text" data-provide="typeahead" autocomplete="off">

													<ul id="current-affiliated-institute-list-{{proj.pk}}" class="nav nav-pills nav-stacked">
													</ul>
												</form> -->
