{% extends "base_template.html" %} 
{% load render_table from django_tables2 %}

{% block title %}Phenotype Selection{% endblock title %}

{% block extrahead %}

body {
padding-top: 60px;
padding-bottom: 40px;
background-color: #f5f5f5;
}
.form-signin {
max-width: 3500px;
padding: 19px 29px 29px;
margin: 0 auto 10px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-mox-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgb(0, 0, 0, .05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}
button[name="add"]{
height: 35.7px;
}
.btn .lower-right-button{
color: red;
}

.alert{
	
}

{% endblock extrahead %}


{% block extra_css_js %}

<!-- JAVASCRIPT HERE -->
<script>

// $(document).ready( function() {
// 	$('#delete-pheno').click( function() {
// 		alert("delete phenotype!");

// 		$.ajax({
// 			type: "POST",
// 			url: "pheno-select"
// 		});
// 		return false;
// 	});
// });


$(document).ready( function(){
	
	//Generate unique IDs for each table row
	var ind = 0;
	$("tr").each(function( index ){
		$(this).attr('id', index);
	});
	
});

//Activates ajax function call to delete phenotype
function deletePheno(){
	alert("delete");
	var phenotype_name = $(this).closest("tr").children("td").text();
	console.log(this);
}

$(document).ready( function() {
	$(".delete-pheno").click(function (event){
		//event.preventDefault();
		var id = $(this).closest("tr")
						.children("td:first-child")
						.text();
		alert(id);
	});
});

// $(function() {
		// 	//twitter bootstrap script
		// 	$("button#submit").click(function(){
		// 		$.ajax({
		// 			type: "POST",
		// 			url: "process.php",
		// 			data: $('form.contact').serialize(),
		// 			success: function(msg){
		// 				$("#thanks").html(msg)
		// 				$("#form-content").modal('hide');    
		// 			},
		// 			error: function(){
		// 				alert("failure");
		// 			}
		// 		});
		// 	});
		// });

</script>
{% endblock extra_css_js %}

{% block active-navbar %} 
<li><a href="index">Home</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
<li><a href="project-list">Project List</a></li>
<li class="active"><a href="sample-submission">Sample Submission</a></li>
{% endblock active-navbar %}

{% block content %}

{% block section_title %}<h1> Type in the Phenotypes that you want recorded: </h1>{% endblock section_title %}
<h5> phenotype, units, expected range </h5>

<div id="alert-signs">
	{{ success_alert|safe }}
	{{ try_again_alert|safe }}
	{{ fill_in_alert|safe }}
</div>

<h3> Existing Phenotypes </h3>
<table class="table table-striped table-bordered table-hover">
	<tr>
		<th> Phenotype Name </th>
		<th> Phenotype Type </th>
		<th> Phenotype Description </th>
		<th> Phenotype Definition </th>
		<th> Delete? </th>
	</tr>
	{% for p in phenotypelist %}
	<tr>
		<td>{{ p.phenotype_name }}</td>
		<td>{{ p.phenotype_type_id }}</td>
		<td>{{ p.phenotype_description }}</td>
		<td>{{ p.phenotype_definition }}</td>
		<td> <button id="delete-pheno{{p.pk}}" class="btn delete-pheno" type="button"><i class="icon-remove"></i></button></td>
	</tr>
	{% endfor %}
</table>

</table>

<div id="add_a_phenotype_panel"> 
	<h3> Add A Phenotype </h3>
	<br />
	<form class="add_a_phenotype" method="post" action="{% url pheno-select %}">
		{% csrf_token %}
		<table>
			{{ phenotypeForm }}
		</table>
		<br />
		<button id="add-pheno" class="btn btn-primary" type="submit" action="{% url pheno-select %}">Create a Phenotype</button>
	</form>
</div>



<!-- A PHENOTYPE TABLE WHERE THEY CAN INPUT THE VALUES IN -->


<!-- THERE SHOULD BE AN UPLOAD BUTTON WHERE PEOPLE CAN UPLOAD PHENOTYPE LIST ONTO THE WEB APPLICATION AND AUTOMATICALLY
	STORES IT INTO THE DATABASE, AFTER SHOWING THEM A TABLE OF THE EXTRACTED INFORMATION ASKING IF THE INFORMATION IS 
	CORRECT -->


{% endblock content %}


<!-- ONE WITH THE BAR AND AN ADD BUTTON -->
<!-- <div class="well well-large input-append">
	<form id="phenotype-form" action="" method="post", enctype="multipart/form-data">
		{% csrf_token %}
	<input type="text" class="span11" placeholder="Type phenotype here" name="phenotype-item" id="phenotype-item" />
	<button class="btn" id="add-phenotype"> Add </button>
</form>
</div> -->

