{% extends "base_template.html" %} 
{% load render_table from django_tables2 %}

{% block title %}Project List{% endblock title %}


{% block extra_css_js %}
<link href="{{ STATIC_URL }}bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modalmanager.js" rel="text/javascript" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modal.js" rel="text/javascript" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

<script type="text/javascript">
	$().ready(function() {
		// alert("Testing");
		// $('#upload_manifest form').each(function(i, j) { alert(j); });

		// prepares a form to be submitted via AJAX 
		// $('#upload_manifest form').ajaxForm({
		// 	//target: '#recent_document',
		// 	success: function(body) {
		// 		alert("this is from ajaxForm: " + body);
		// 		//$('#upload_manifest > .modal-body').
		// 	}
		// });

//---------------------TRYING OUT A NEW WAY TO SUBMIT FORM FROM A REMOTE BUTTON---------------------

		// <div id="thanks">
		// 	<p>
		// 		<a data-toggle="modal" href="#form-content" class="btn btn-primary">Contact us</a>
		// 	</p>
		// </div>
		// <!-- model content -->    
		// <div id="form-content" class="modal hide fade in" style="display: none; ">
		// 	<div class="modal-header">
		// 		<a class="close" data-dismiss="modal">×</a>
		// 		<h3>Contact us</h3>
		// 	</div>
		// 	<div>
		// 		<form class="contact">
		// 			<fieldset>
		// 				<div class="modal-body">
		// 					<ul class="nav nav-list">
		// 						<li class="nav-header">Name</li>
		// 						<li><input class="input-xlarge" value=" krizna" type="text" name="name"></li>
		// 						<li class="nav-header">Email</li>
		// 						<li><input class="input-xlarge" value=" user@krizna.com" type="text" name="Email"></li>
		// 						<li class="nav-header">Message</li>
		// 						<li>
		// 							<textarea class="input-xlarge" name="sug" rows="3"> 
		// 								Thanks for the article and demo
		// 							</textarea>
		// 						</li>
		// 					</ul> 
		// 				</div>
		// 			</fieldset>
		// 		</form>
		// </div>
		// <div class="modal-footer">
		// 	<button class="btn btn-success" id="submit">submit</button>
		// 	<a href="#" class="btn" data-dismiss="modal">Close</a>
		// </div>
		


		// $(function() {
		// 	//twitter bootstrap script
		// 	$("button#submit").click(function(){
		// 		$.ajax({
		// 			type: "POST",
		// 			url: "process.php",
		// 			data: $('form.contact').serialize(),
		// 			success: function(msg){
		// 				$("#thanks").html(msg)
		// 				$("#form-content").modal('hide');    
		// 			},
		// 			error: function(){
		// 				alert("failure");
		// 			}
		// 		});
		// 	});
		// });
//-------------------------- END -----------------------------------------


		$('#save-button').click(function () {
			alert("trying to save!");
			$.ajax({
				type: "POST",
				url: "save-file",
				data: $('#project-list-form').serialize(),
				success: function(msg){
					$('#myModalLabel_add_project').html("Thank you for your Submission!");

					$('#upload_manifest_form').html("<p><b> You have uploaded and saved the following manifest into the database: </b></p><!-- List of uploaded documents --><div id='recent_document'>{% if recent_document %}<ul><li><a href='{{ recent_document.docfile.url }}''>{{ recent_document.docfile.name }}</a></li><br /><br />{{ display_dict }}</ul>{% else %}<p>No documents.</p>{% endif %}</div>");

					$('#upload_manifest_modal_footer').html("<button id='upload_manifest_close_button' class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>");
				},
				error: function(){
					alert("failure");
				}
			});
		});


		// 	$(this).ajaxSubmit({ 
		// 		url: 'save-file',
		// 		type: 'POST',
		// 		success: function () {
					
		// 			$('#myModalLabel_add_project').html("Thank you for your Submission!");

		// 			$('#upload_manifest_form').html("<p><b> You have uploaded and saved the following manifest into the database: </b></p><!-- List of uploaded documents --><div id='recent_document'>{% if recent_document %}<ul><li><a href='{{ recent_document.docfile.url }}''>{{ recent_document.docfile.name }}</a></li><br /><br />{{ display_dict }}</ul>{% else %}<p>No documents.</p>{% endif %}</div>");

		// 			$('#upload_manifest_modal_footer').html("<button id='upload_manifest_close_button' class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>");

		// 		}
		// 		// error: function () {
		// 		// 	$('#myModalLabel_add_project').html("Sorry, There's been an error.");
		// 		// 	$('#upload_manifest_form').html("<p><b> The following manifest failed to be submitted. Please Try Again. </b></p><!-- List of uploaded documents --><div id='recent_document'>{% if recent_document %}<ul><li><a href='{{ recent_document.docfile.url }}''>{{ recent_document.docfile.name }}</a></li><br /><br />{{ display_dict }}</ul>{% else %}<p>No documents.</p>{% endif %}</div>");

		// 		// 	$('#upload_manifest_modal_footer').html("<button id='upload_manifest_close_button' class='btn' data-dismiss='modal' aria-hidden='true' href='project-list.html'>Close</button>");
		// 		// }
		// 	});
		// 	return false;
		// });
		
		
		$('#upload_manifest').on('hide', function(){
			alert("closing modal");
			window.location.href="project-list"

		});

		$('#extract-now').click( function(){
			$('#project-list-form').ajaxSubmit({
				target: '#extract-panel',
				type: 'post',
				success: function(a) {
					//console.log(a);
					var html = a;
					table = $(html).find("#extract-panel").html();
					$('#extract-panel').replaceWith(table);
					$('#extract-panel').slideToggle("slow");
				}
			});
			return false;
		});
   

						// 	<!-- List of uploaded documents -->
						// 	<div id="recent_document">
						// 		{% if recent_document %}
						// 		<ul>
						// 			<li><a href="{{ recent_document.docfile.url }}">{{ recent_document.docfile.name }}</a></li>
						// 			<br />
						// 			<br />
						// 		{{ display_dict }}
						// 		</ul>
						// 		{% else %}
						// 		<p>No documents.</p>
						// 		{% endif %}
						// 	</div>

		// submits the form immediately after 'submit' button is pressed
		// attach handler to form's submit event
		// $('#upload_manifest form').submit(function() {
		// 	//submit the form
		// 	$(this).ajaxSubmit({ 
		// 		target: '#recent_document', 
		// 		success: function() {
		// 			alert("Thank you for uploading your manifest :)");

		// 		} 
		// 	});
		// 	// file's been chosen
		// 	// show the document as uploaded
		// 	// then show what's been extracted

		// 	// Then another function will need to be set for the "Save Changes" button

		// 	// return false to prevent normal browser submit and page navigation
		// 	return false;
		// });
		// $('#save-button').click(function () {
		// 	$(this).ajaxSubmit({ success: function () {
		// 		alert("You have saved the project");
		// 	}});
		// 	return false;
  //   	});
	});
</script>

{% endblock extra_css_js %}

{% block extrahead %}
#extract-now, #extract-panel{
	padding:5px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}

#extract-panel
{
	padding:50px;
	display:none;
}
{% endblock extrahead %}

{% block active-navbar %} 
<li><a href="index">Home</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
<li class="active"><a href="project-list">Project List</a></li>
<li><a href="sample-submission">Sample Submission</a></li>
{% endblock active-navbar %}

{% block content %}

{% block section_title %}<h1> Project List </h1>{% endblock section_title %}

<h4> 
	Hi, I assume I know who the user is. I also assume I will get a list of projects that is associated
	to this user.
	<br />
	I AM THE FACULTY MEMBER.
</h4>

<br />
<br />
<h3> Welcome Faculty Member. Here are your projects. </h3>

<table class="table table-hover">
	<tr>
		<th> Username </th>
		<th> Project Name </th>
		<th> Sample Submission(s) </th>
		<th> Created On </th>
		<th> Last updated </th>
		<!--Incomplete Manifest, Failed Upload, Pending for Collaborators, Complete, Incomplete Phenotype list -->
		<th> Project Status </th> 
		<th> Delete? </th>
	</tr>
	{% for up in userprojectlist_user %}
	<tr id="{{up.pk}}">
		<td>{{ up.username }}</td>
		<td>{{ up.project_name }}</td>
		<td><a href="sample-submission">See Samples</a></td>
		<td>{{ up.date_created }}</td>
		<td>{{ up.last_updated }}</td>
		<td>{{ up.project_status }}</td>
		<td> <button id="delete-pheno{{p.pk}}" class="btn delete-pheno" type="button"><i class="icon-remove"></i></button></td>
	</tr>
	{% endfor %}
</table>

<h3> Below are all the projects in the database </h3>

<table class="table table-hover">
	<tr>
		<th> Username </th>
		<th> Project Name </th>
		<th> Sample Submission(s) </th>
		<th> Created On </th>
		<th> Last updated </th>
		<!--Incomplete Manifest, Failed Upload, Pending for Collaborators, Complete, Incomplete Phenotype list -->
		<th> Project Status </th> 
		<th> Delete? </th>
	</tr>
	{% for up in userprojectlist_all %}
	<tr id="{{up.pk}}">
		<td>{{ up.username }}</td>
		<td>{{ up.project_name }}</td>
		<td><a href="sample-submission">See Samples</a></td>
		<td>{{ up.date_created }}</td>
		<td>{{ up.last_updated }}</td>
		<td>{{ up.project_status }}</td>
		<td> <button id="delete-pheno{{p.pk}}" class="btn delete-pheno" type="button"><i class="icon-remove"></i></button></td>
	</tr>
	{% endfor %}
	<tr>
		<td> facultymember </td>
		<td> UK10K_CILWGA </td>
		<td><a href="sample-submission">See Samples</a></td>
		<td> April 5, 2013 </td>
		<td> April 15, 2013 </td>
		<td> In Progress </td>
		<td> HARDCODED </td>
	</tr>
	<tr>
		<td> facultymember </td>
		<td> 2019STDY </td>
		<td><a href="sample-submission">See Samples</a></td>
		<td> May 9, 2013 </td>
		<td> May 19, 2013 </td>
		<td> Complete </td>
		<td> HARDCODED </td>
	</tr>
</table>

<!-- Button to trigger modal -->
<a href="#upload_manifest" role="button" class="btn" data-toggle="modal" data-keyboard=true>
	<i class="icon-plus"></i>
</a>
<a href="#delete_project" role="button" class="btn" data-toggle="modal" data-keyboard=true>	<i class="icon-minus"></i>
</a>

<br />
<br />
<br />


<!-- ADD A PROJECT FORM -->

<div id="add_a_project_panel"> 
	<h3> Add A Project </h3>

	<b>Note: This interface for adding a Project is just for development purposes; in reality, I will get a list of projects that is
	associated with the specific user.</b>
	<br />
	<br />
	<form class="add_a_project" method="post" action="{% url project-list %}">
		{% csrf_token %}
		<table>
			{{ userprojectform }}
		</table>
		<br />
		<button id="add-a-project" class="btn btn-primary" type="submit" action="{% url project-list %}">Create a Project</button>
	</form>
</div>










<!-- Upload Modal -->
	
<div id="upload_manifest" class="modal container hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel_add_project">Add A Sample</h3>
	</div>

	<div id="upload_manifest_form" class="modal-body">
		<h4> Upload the Manifest </h4>

		<!-- Upload form. Note enctype attribute! -->
		<!--form action="{% url project-list %}" method="post" enctype="multipart/form-data" id="project-list-form"-->
		<form id="project-list-form" action="{% url project-list %}" method="post" enctype="multipart/form-data" >
			{% csrf_token %}

			<p>{{ form.non_field_errors }}</p>

			<!-- form.docfile.label_tag is the field's label wrapped in the appropriate "label" tag  i.e. <label for="id_email"> E-mail address 
		    </label> -->
		    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
		    <p>
		    	{{ form.docfile.errors }}
		    	{{ form.docfile }}
		    </p>
		    <p>
		    	<input type="submit" value="Extract Now" id="extract-now"/>
		    </p>
		</form>
		<div id="extract-panel">
			<h4> The following is what's extracted from the manifest: </h4>
			<p>Study Name: {{ study_name }} </p>
			<p>Supplier Name: {{ supplier_name }} </p>
			<p>Number of Plates: {{ num_of_plates }}</p>

			<h3> Top 5 Rows </h3>
			<table border="1" id="top5">
				<tr>
					{% for heading in headings %}
					<th>{{ heading }}</th>
					{% endfor %}
				</tr>
				{% for x, y in top5 %}
				<tr>
					<td> {{ x }} </td>
					<td> {{ y }} </td>
				</tr>
				{% endfor %}
			</table>

			<h3> Bottom 5 Rows </h3>
			<table border="1" id="bottom5">
				<tr>
					{% for heading in headings %}
					<th>{{ heading }}</th>
					{% endfor %}
				</tr>
				{% for x, y in bottom5 %}
				<tr>
					<td> {{ x }} </td>
					<td> {{ y }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div id="upload_manifest_modal_footer" class="modal-footer">
		<button id="upload_manifest_close_button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button id="save-button" class="btn btn-primary" data-loading-text="Extracting columns..." data-complete-text="finished!">Upload and Save File! </button>
	</div>
</div>



<!-- Delete Modal -->
<div id="delete_project" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel">Deleting project</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this project?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Delete project</button>
	</div>
</div>

<br>
<br>

{% endblock content %}

<!-- {% include "manifest_upload.html" %}

{% block add_file %}
{% endblock add_file %}

{% block delete_file %}
{% endblock delete_file %} -->
