{% extends "base_template.html" %} 

{% block title %}Project List{% endblock title %}


{% block extra_css_js %}
<link href="{{ STATIC_URL }}bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modalmanager.js" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modal.js" rel="stylesheet" media="screen">
{% endblock extra_css_js %}

{% block active-navbar %} 
<li><a href="index">Home</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
<li class="active"><a href="project-list">Project List</a></li>
{% endblock active-navbar %}

{% block content %}

{% block section_title %}<h1> Project List </h1>{% endblock section_title %}

<table class="table table-hover">
	<tr>
		<th> Manifest Name </th>
		<th> No. Plate </th>
		<th> Study </th>
		<th> Supplier </th>
		<th> Created On </th>
		<th> Created by </th>
		<!-- Select Phenotypes, View Phenotypes -->
		<th> Phenotype List </th>
		<!--Incomplete Manifest, Failed Upload, Pending for Collaborators, Complete, Incomplete Phenotype list -->
		<th> Status Of Order </th> 
	</tr>
	<tr>
		<td> Dummy Data - Manifest_1210 </td>
		<td> 3 </td>
		<td> UK10K_CILWGA </td>
		<td> University College London Medical School </td>
		<td> April 5, 2013 </td>
		<td> aw18 </td>
		<td> <a href="pheno_select"> Select Phenotypes </a></td>
		<td> Incomplete Phenotype List </td>
	</tr>

	<tr>
		<td> Dummy Data 2 - Manifest_1369 </td>
		<td> 1 </td>
		<td> 2019STDY </td>
		<td> Sanger Centre </td>
		<td> May 9, 2013 </td>
		<td> aw18 </td>
		<td> <a href="pheno-list"> View Phenotype List </a></td>
		<td> <a href="welcome-collaborator"> Start Well-filling </a></td>
	</tr>
</table>

<!-- Button to trigger modal -->
<a href="#upload_manifest" role="button" class="btn" data-toggle="modal" data-keyboard=true>
	<i class="icon-plus"></i>
</a>
<a href="#delete_project" role="button" class="btn" data-toggle="modal" data-keyboard=true>	<i class="icon-minus"></i>
</a>

<!-- Upload Modal -->
<div id="upload_manifest" class="modal container hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Add A Project</h3>
	</div>
	<div class="modal-body">
		<h4> 1. Upload the Manifest </h4>
		<p> You've uploaded the following manifest(s): </p>
		{{ recent_document }}

		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url manifest-upload %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>

			<!-- form.docfile.label_tag is the field's label wrapped in the appropriate <label> tag  i.e. <label for="id_email">E-mail address 
		    </label> -->
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
				{{ display_dict }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>

		<!-- end of list-->

		<h4> 2. Please Fill in the Following fields </h4>
		<p> For the StudyForm and SampleForm. Sanger Plate IDs and Sanger Sample IDs are extracted from the manifest. 

		Could maybe let them have a text area where they can copy and paste csv of the sanger plate id and sanger sample id??? (later....) </p>
		{{ display_dict }}

		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" data-loading-text="Extracting columns..." data-complete-text="finished!">Save changes</button>
	</div>
</div>


<!-- Delete Modal -->
<div id="delete_project" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel">Deleting project</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this project?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Delete project</button>
	</div>
</div>




<br>
<br>

{% endblock content %}

<!-- {% include "manifest_upload.html" %}

{% block add_file %}
{% endblock add_file %}

{% block delete_file %}
{% endblock delete_file %} -->
