{% extends "base_template.html" %} 
{% load render_table from django_tables2 %}

{% block title %}Sample Submission{% endblock title %}


{% block extra_css_js %}
<link href="{{ STATIC_URL }}bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modalmanager.js" rel="text/javascript" media="screen">
<link href="{{ STATIC_URL }}bootstrap-modal/js/bootstrap-modal.js" rel="text/javascript" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />


<script type="text/javascript">

$(document).ready(function() {
	alert("hi");
	// For Testing purposes - to check if ready function is working
	$('#hello').text("The DOM is now loaded and can be manipulated.");
	

	// Changing the <input type="file".../> so that once file is chosen
	// the file details are immediately shown 
	this.getElementById("id_docfile").addEventListener("change", function(){
		alert('test');
		$('#test').text(":O");

		//Extract file details here without Extract button
		// Using the multi-submit method

		$("#resultcontainer").slideToggle("slow");
		this.getElementById('project-list-form').target='frame_result';
		alert("after frame result");
		this.forms['project-list-form'].submit();
		alert('done test');
		});

	// Saving the form information into the database officially after pressing the save button
	$('#save-button').click(function () {
			alert("trying to save!");
			$.ajax({
				type: "POST",
				url: "save-file",
				data: $('#project-list-form').serialize(),
				success: function(msg){
					$('#myModalLabel_add_project').html("Thank you for your Submission!");

					$('#upload_manifest_form').html("<p><b> You have uploaded and saved the following manifest into the database: </b></p><!-- List of uploaded documents --><div id='recent_document'>{% if recent_document %}<ul><li><a href='{{ recent_document.docfile.url }}''>{{ recent_document.docfile.name }}</a></li><br /><br />{{ display_dict }}</ul>{% else %}<p>No documents.</p>{% endif %}</div>");

					$('#upload_manifest_modal_footer').html("<button id='upload_manifest_close_button' class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>");
				},
				error: function(){
					alert("failure");
				}
			});
		});	
});

// function showResultDiv(){
// 	var result_div = document.getElementById('resultcontainer');
// 	result_div.style.display="";
// }
</script>

{% endblock extra_css_js %}

{% block extrahead %}
#extract-now, #extract-panel{
	padding:5px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}

#extract-panel
{
	padding:50px;
	display:none;
}
{% endblock extrahead %}

{% block active-navbar %} 
<li><a href="index">Home</a></li>
<li><a href="about">About</a></li>
<li><a href="contact">Contact</a></li>
<li><a href="project-list">Project List</a></li>
<li class="active"><a href="sample-submission">Sample Submission</a></li>
{% endblock active-navbar %}

{% block content %}

{% block section_title %}<h1> Sample Submission </h1>{% endblock section_title %}

<p id="hello">Not loaded yet.</p>

<h3> Here are all the specific Sample Submissions for the Selected Project </h3>
<table class="table table-hover">
	<tr>
		<th> Project Name </th>
		<th> Sample Submission Name </th>
		<th> External Collaborator (Source) </th>
		<th> Number of Samples </th>
		<th> Created On </th>
		<th> Last Updated </th>
		<!-- Select Phenotypes, View Phenotypes -->
		<th> Phenotype List </th>
		<!--Incomplete Manifest, Failed Upload, Pending for Collaborators, Complete, Incomplete Phenotype list -->
		<th> Status Of Order </th> 
		<th> Delete? </th>
	</tr>
	{% for s in sample_submission_list %}
	<tr id="{{s.pk}}">
		<td>{{ s.project_name }}</td>
		<td>{{ s.sample_submission_name }}</td>
		<td>{{ s.source }}</td>
		<td>{{ s.sample_num }}</td>
		<td>{{ s.date_created }}</td>
		<td>{{ s.last_updated }}</td>
		<td>THIS SHOULD BE THE sample_submission ASSOCIATED PHENOTYPE LIST</td>
		<td>{{ s.order_status }}</td>
		<td> <button id="delete-sample-submission{{s.pk}}" class="btn delete-pheno" type="button"><i class="icon-remove"></i></button></td>
	</tr>
	{% endfor %}
</table>

<h3> Below are all the Sample Submissions in the database </h3>
You shouldn't be able to delete any of these. They are the accumulation of everyone's sample submissions.

<table class="table table-hover">
	<tr>
		<th> Project Name </th>
		<th> Sample Submission Name </th>
		<th> External Collaborator (Source) </th>
		<th> Number of Samples </th>
		<th> Created On </th>
		<th> Last Updated </th>
		<!-- Select Phenotypes, View Phenotypes -->
		<th> Phenotype List </th>
		<!--Incomplete Manifest, Failed Upload, Pending for Collaborators, Complete, Incomplete Phenotype list -->
		<th> Status Of Order </th> 
	</tr>
	{% for s in sample_submission_list %}
	<tr id="{{s.pk}}">
		<td>{{ s.project_name }}</td>
		<td>{{ s.sample_submission_name }}</td>
		<td>{{ s.source }}</td>
		<td>{{ s.sample_num }}</td>
		<td>{{ s.date_created }}</td>
		<td>{{ s.last_updated }}</td>
		<td>THIS SHOULD BE THE sample_submission ASSOCIATED PHENOTYPE LIST</td>
		<td>{{ s.order_status }}</td>
	</tr>
	{% endfor %}
	<tr>
		<td> Dummy Data - Manifest_1210 </td>
		<td> UK10K_CILWGA </td>
		<td> University College London Medical School </td>
		<td> 288 </td>
		<td> April 5, 2013 </td>
		<td> April 28, 2013</td>
		<td> <a href="pheno_select"> Select Phenotypes </a></td>
		<td> Incomplete Phenotype List </td>
	</tr>
	<tr>
		<td> Dummy Data 2 - Manifest_1369 </td>
		<td> 2019STDY </td>
		<td> Sanger Centre </td>
		<td> 96 </td>
		<td> May 9, 2013 </td>
		<td> May 15, 2013 </td>
		<td> <a href="pheno-list"> View Phenotype List </a></td>
		<td> <a href="welcome-collaborator"> Start Well-filling </a></td>
	</tr>
</table>

<!-- Button to trigger modal -->
<a href="#upload_manifest" role="button" class="btn" data-toggle="modal" data-keyboard=true>
	<i class="icon-plus"></i>
</a>
<a href="#delete_project" role="button" class="btn" data-toggle="modal" data-keyboard=true>	<i class="icon-minus"></i>
</a>

<!-- ADD A SAMPLE SUBMISSION FORM -->

<div id="add_a_sample_submission_panel"> 
	<h3> Add A Sample Submission </h3>
	<br />
	<form class="add_a_sample_submission" method="post" action="{% url sample-submission %}">
		{% csrf_token %}
		<table>
			{{ sform }}
		</table>
		<br />
		<button id="add-sample-submit" class="btn btn-primary" type="submit" action="{% url sample-submission %}">Create a Sample Submission</button>
	</form>
</div>









<!-- Upload Modal -->
	
<div id="upload_manifest" class="modal container hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel_add_project">Add A Sample</h3>
	</div>

	<div id="upload_manifest_form" class="modal-body">
		<h4> Upload the Manifest </h4>

		<!-- Upload form. Note enctype attribute! -->
		<!--form action="{% url project-list %}" method="post" enctype="multipart/form-data" id="project-list-form"-->
		<form id="project-list-form" action="{% url sample-submission %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<p>{{ form.non_field_errors }}</p>

			<!-- form.docfile.label_tag is the field's label wrapped in the appropriate "label" tag  i.e. <label for="id_email"> E-mail address 
		    </label> -->
		    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
		    <p>
		    	{{ form.docfile.errors }}
		    	{{ form.docfile }}
		    </p>
		</form>

		<p id="test">:)</p>

		<div id="resultcontainer" style="display:none">
			<div class='iframe_container'>
				<iframe name='frame_result' width='350px' height='100px' frameborder='0'>
					
				</iframe>
			</div>
		</div>

		
	</div>

	<div id="upload_manifest_modal_footer" class="modal-footer">
		<button id="upload_manifest_close_button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button id="save-button" class="btn btn-primary" data-loading-text="Extracting columns..." data-complete-text="finished!">Upload and Save File! </button>
	</div>
</div>



<!-- Delete Modal -->
<div id="delete_project" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="myModalLabel">Deleting project</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this project?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Delete project</button>
	</div>
</div>

<br>
<br>

{% endblock content %}

<!-- {% include "manifest_upload.html" %}

{% block add_file %}
{% endblock add_file %}

{% block delete_file %}
{% endblock delete_file %} -->















