{% extends "base_template.html" %} 
{% load staticfiles %}

{% block title %}Project List{% endblock title %}

{% block extra_css_js %}
<link href="{% static "bootstrap-modal/css/bootstrap-modal.css" %}" rel="stylesheet" media="screen">
<link href="{% static "bootstrap-modal/js/bootstrap-modalmanager.js" %}" rel="stylesheet" media="screen"
<link href="{% static "bootstrap-modal/js/bootstrap-modal.js" %}" rel="stylesheet" media="screen">

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.js"></script>

<script type="text/javascript">
		$('#myModal').modal({
			keyboard: false,
			show: true
		});
</script>

{% endblock extra_css_js %}

{% block content %}

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>


{% endblock content %}
