<!--THIS IS AFTER FIRST PRESSING ADD SAMPLE SUBMISSION BUTTON -->

<div class="modal-body" id="tmp-sample-submission-modal-body">
	THIS IS TSS PAGE 1

	<form class="add_a_temp_ss" method="post" id="add_a_tmp_ss_form" tss="{{tssid}}" action="tss-page-1/{{ projid }}">
		{% csrf_token %}
		<table>
			{{ tssform }}
		</table>
	</form>
	<div id="alert-signs">
		{{ alert_msg|safe }}
		{{ tssform.errors }}
		{% if exist %}
		<div class="pull-right"><i class="icon-ok-sign icon-2x"></i></div>
		{% else %}
		<div class="pull-right"><i class="icon-remove-sign icon-2x"></i></div>
		{% endif %}
	</div>
</div>


