<!-- Choose the order in which the wells will be filled : Manual/ Robot-->
<h3> Choose the order in which the wells will be filled: </h3>
<table>
	<tr>
		<td><img src="../../../media/arrows/Slide1.jpg" height="200" width="200"></td>
		<td><img src="../../../media/arrows/Slide2.jpg" height="200" width="200"></td>
		<td><img src="../../../media/arrows/Slide3.jpg" height="200" width="200"></td>
	</tr>
	<tr>
		<td><img src="../../../media/arrows/Slide4.jpg" height="200" width="200"></td>
		<td><img src="../../../media/arrows/Slide5.jpg" height="200" width="200"></td>
		<td><img src="../../../media/arrows/Slide6.jpg" height="200" width="200"></td>
	</tr>
</table>
<button> Customize </button>