{% extends "base_template.html" %}

{% block title %}
WTSI &middot; DNA Order Application &middot; About
{% endblock title %}


{% block content %}

{% block section_title %} <h1> About </h1>{% endblock section_title %}

<div class="container">
	<p> 
		The DNA Order Application aims to improve the interface for ordering DNA 
		sequences from our collaborators. The current system generates an excel sheet (manifest) that is sent to our collaborators to be filled out as they fill the plates up with samples of the requested DNA sequences. The order that the DNA sequences are listed on the excel sheet is not very accommodating to the lab technician's workflow - we're hoping that the GUI that we provide could make it easier to fill out the order form and reduce the error rate of mislabelling 
		the wells. 
	</p>

{% endblock content %}