<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
	</head>
	<body>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 
				Individual ID
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			<!-- dropdown menu links-->
			<li class="active">
				<a href="#"> Individual ID </a>
			</li>
			<li>
				<a href="#"> Age </a>
			</li>
			<li>
				<a href="#"> Disease Type </a>
			</li>
			<li>
				<a href="#"> Smoking Status </a>
			</li>
			
			</ul>
	
			<ul class="nav nav-pills">
			<li class="active">
				<a href="#"> Individual ID </a>
			</li>
			<li>
				<a href="#"> Age </a>
			</li>
			<li>
				<a href="#"> Disease Type </a>
			</li>
			<li>
				<a href="#"> Smoking Status </a>
			</li>
		</ul>
	
	
	</body>
</html>

		
		